.Pokedex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Pokedex-winner {
  text-align: center;
  color: green;
}
.Pokedex-loser {
  text-align: center;
  color: red;
}

.Pokedex-game {
  text-align: center;
}
